/*==============--- 
    1. reset css
    2. margin & padding css
    3. display css
    4. text-color css
    5. background-color css
    6. common css
---==============*/





/*===============----- reset css start -----===============*/

body {
    font-size: 14px;
    font-family: 'ubunturegular' !important;
    margin: 0;
}

a, a:hover, a:focus {
    text-decoration: none !important;
    background: transparent;;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    outline: 0;
}

p,h1,h2,h3,h4,h5,h6,ul li,ol li,ul,ol {
    padding: 0;
    margin:0;
}

ul li, ol li {
    list-style: none;
}

/*===============----- reset css end -----===============*/

/*===============----- margin & padding css start -----===============*/

.no-pad {
    padding: 0;
}

.no-pad-left {
    padding-left: 0;
}

.no-pad-right {
    padding-right: 0;
}

.pad-tb {
    padding-top: 70px;
    padding-bottom: 70px;
}

.no-marg {
    margin: 0;
}

/*===============----- margin & padding css end -----===============*/

/*===============----- display css start -----===============*/

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.dn {
    display: none;
}

.df {
    display: flex;
    align-items: center;
}

/*===============----- display css end -----===============*/

/*===============----- text-color css start -----===============*/

.white-text {
    color: #fff;
}

.black-text {
    color: #3b3b3b;
}

.brown-text {
    color: #7d323c;
}

.pink-text {
    color: #fe6579;
}

.grey-text {
    color: #646464;
}

.dark-grey-text {
    color: #494848;
}

/*===============----- text-color css end -----===============*/

/*===============----- background-color css start -----===============*/

.white-bg {
    background-color: #fff;
}

.pink-bg {
    background-color: #fe6579;
}

.light-pink-bg {
    background-color: #fff3f5;
}

.lighten-pink-bg {
    background-color: #fff7f8;
}

.dark-pink-bg {
    background-color: #cc5261;
}

.brown-bg {
    background-color: #7f333d;
}

/*===============----- background-color css end -----===============*/

/*===============----- common css start -----===============*/

.heading {
    font-size: 2.143em;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 100%;
    margin-bottom: 35px;
}

/*===============----- common css end -----===============*/


  































































/*===============----- font family css start -----===============*/

@font-face {
    font-family: 'barlowblack';
    src: url('../fonts/barlow-black-webfont.woff2') format('woff2'),
         url('../fonts/barlow-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowblack_italic';
    src: url('../fonts/barlow-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/barlow-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowbold';
    src: url('../fonts/barlow-bold-webfont.woff2') format('woff2'),
         url('../fonts/barlow-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowbold_italic';
    src: url('../fonts/barlow-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/barlow-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowextrabold';
    src: url('../fonts/barlow-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/barlow-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowextrabold_italic';
    src: url('../fonts/barlow-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/barlow-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowextralight';
    src: url('../fonts/barlow-extralight-webfont.woff2') format('woff2'),
         url('../fonts/barlow-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowextralight_italic';
    src: url('../fonts/barlow-extralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/barlow-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowitalic';
    src: url('../fonts/barlow-italic-webfont.woff2') format('woff2'),
         url('../fonts/barlow-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowlight';
    src: url('../fonts/barlow-light-webfont.woff2') format('woff2'),
         url('../fonts/barlow-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowlight_italic';
    src: url('../fonts/barlow-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/barlow-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowmedium';
    src: url('../fonts/barlow-medium-webfont.woff2') format('woff2'),
         url('../fonts/barlow-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowmedium_italic';
    src: url('../fonts/barlow-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/barlow-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowregular';
    src: url('../fonts/barlow-regular-webfont.woff2') format('woff2'),
         url('../fonts/barlow-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowsemibold';
    src: url('../fonts/barlow-semibold-webfont.woff2') format('woff2'),
         url('../fonts/barlow-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowsemibold_italic';
    src: url('../fonts/barlow-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/barlow-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowthin';
    src: url('../fonts/barlow-thin-webfont.woff2') format('woff2'),
         url('../fonts/barlow-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowthin_italic';
    src: url('../fonts/barlow-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/barlow-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntubold';
    src: url('../fonts/ubuntu-bold-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntubold_italic';
    src: url('../fonts/ubuntu-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntuitalic';
    src: url('../fonts/ubuntu-italic-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/ubuntu-light-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight_italic';
    src: url('../fonts/ubuntu-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium';
    src: url('../fonts/ubuntu-medium-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium_italic';
    src: url('../fonts/ubuntu-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-regular-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*===============----- font family css end -----===============*/

/*===============----- SVG icon css start -----===============*/

@font-face {
  font-family: 'find-a-soulmate';
  src:  url('fonts/find-a-soulmate.eot?vbnpin');
  src:  url('fonts/find-a-soulmate.eot?vbnpin#iefix') format('embedded-opentype'),
    url('fonts/find-a-soulmate.ttf?vbnpin') format('truetype'),
    url('fonts/find-a-soulmate.woff?vbnpin') format('woff'),
    url('fonts/find-a-soulmate.svg?vbnpin#find-a-soulmate') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'find-a-soulmate' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aadhar-icon:before {
  content: "\e900";
}
.icon-city-building:before {
  content: "\e901";
}
.icon-couple:before {
  content: "\e902";
}
.icon-customer-support:before {
  content: "\e903";
}
.icon-down-arrow:before {
  content: "\e904";
}
.icon-edit:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-find-a-solumate-logo .path1:before {
  content: "\e907";
  color: rgb(241, 100, 121);
}
.icon-find-a-solumate-logo .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(241, 100, 121);
}
.icon-find-a-solumate-logo .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(241, 100, 121);
}
.icon-find-a-solumate-logo .path4:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(128, 51, 61);
}
.icon-find-a-solumate-logo .path5:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-find-a-solumate-logo .path6:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(128, 51, 61);
}
.icon-find-a-solumate-logo .path7:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(128, 51, 61);
}
.icon-find-a-solumate-logo .path8:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(128, 51, 61);
}
.icon-find-a-solumate-logo .path9:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(128, 51, 61);
}
.icon-find-a-solumate-logo .path10:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(128, 51, 61);
}
.icon-find-a-solumate-logo .path11:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(128, 51, 61);
}
.icon-find-a-solumate-logo .path12:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(128, 51, 61);
}
.icon-find-a-solumate-logo .path13:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(128, 51, 61);
}
.icon-find-a-solumate-logo .path14:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(128, 51, 61);
}
.icon-find-a-solumate-logo .path15:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(128, 51, 61);
}
.icon-find-a-solumate-logo .path16:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(128, 51, 61);
}
.icon-find-a-solumate-logo .path17:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(128, 51, 61);
}
.icon-find-a-solumate-logo .path18:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(128, 51, 61);
}
.icon-fingerprints:before {
  content: "\e919";
}
.icon-google-plus:before {
  content: "\e91a";
}
.icon-instagram:before {
  content: "\e91b";
}
.icon-left-arrow:before {
  content: "\e91c";
}
.icon-linkedin:before {
  content: "\e91d";
}
.icon-location:before {
  content: "\e91e";
}
.icon-lock:before {
  content: "\e91f";
}
.icon-namaste:before {
  content: "\e920";
}
.icon-newspaper-text:before {
  content: "\e921";
}
.icon-pinterest:before {
  content: "\e922";
}
.icon-right-arrow:before {
  content: "\e923";
}
.icon-twitter:before {
  content: "\e924";
}
.icon-up-arrow:before {
  content: "\e925";
}
.icon-wedding-rings:before {
  content: "\e926";
}
.icon-worldwide:before {
  content: "\e927";
}
.icon-youtube:before {
  content: "\e928";
}

/*===============----- SVG icon css end -----===============*/